<!-- IF SCRIPT_NAME == 'posting' or SCRIPT_NAME == 'viewtopic' or SCRIPT_NAME == 'ucp' -->
<script type="text/javascript">
// <![CDATA[
	<!-- IF SCRIPT_NAME == 'viewtopic' -->var form_name = 'qr_postform';<!-- ELSE -->var form_name = 'postform';<!-- ENDIF -->
	var text_name = 'message';

	function toogle_box()
	{
		phpbb.toggleDisplay('linkbox');
		e = document.getElementById('linkbox');
	}
	function pattern_box() {
		text = '[url='+document.forms["data"].url.value+']'+document.forms["data"].link.value+'[/url]';
		insert_text(text);
		document.forms[form_name].elements[text_name].focus();
	}
// ]]>
</script>

<div id="linkbox" class="phpbb_alert" style="display:none">
	<form name=data>
		<div class="panel" id="patternbox">
			<div class="inner">
				<h3>{L_URL_PATTERN}</h3>
				<fieldset>
					<dl>
						<dt><label for="0">{L_LINK}{L_COLON}</label><span>{L_LINK_EXPLAIN}</span></dt>
						<dd><input type="text" tabindex="0" name="link" id="0" size="25" class="inputbox" /></dd>
					</dl>
					<dl>
						<dt><label for="1">{L_URL}{L_COLON}</label><span>{L_URL_EXPLAIN}</span></dt>
						<dd><input type="text" tabindex="1" name="url" id="1" size="25" class="inputbox" placeholder = "http://www.phpbbguru.net" /></dd>
					</dl>
				</fieldset>
			</div>
		</div>
		<div class="panel bg3">
			<div class="inner">
				<fieldset class="submit-buttons">
				<input type="button" name="post" value="{L_SUBMIT}" class="button1" onclick="pattern_box();toogle_box();" /><br />
						<br /><a class="nav" href="#" onclick="toogle_box()">{L_CLOSE_WINDOW}</a>
				</fieldset>
			</div>
		</div>
	</form>
</div>
<!-- ENDIF -->
